.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  padding-left: 5rem;
  padding-right: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-around;

  position: fixed;
  top: 0;

  background: #282c34;
  width: 100%;
}

.person {
  display: flex;
  height: 400px;
  width: 100%;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.person .name {
  width: 15%;
}
.person .image {
  width: 25%;
}
.person .schedule {
  width: 50%;
  font-size: 1rem;
}
.person .location {
  font-size: 1rem;
}

.person img {
  width: 100%;
  object-fit: scale-down;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
